html{
    height: 100%

}

header {
    text-align: center;
    margin-left: 200px;
    font-size: large;
    border: 10px solid rgb(28,28,79);
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.foxImage {
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    top: 10px;
    left: 10px;
 }


body {
    background: linear-gradient(rgb(238, 233, 204), rgb(231, 223, 186));
}


main{
    margin-top: 50px;

}


.ogDescription{
    position: relative;
}

a:hover{
    color:seashell;
}

